{% extends "base/base.html" %}
{% block title %}Activation Code{% endblock %}
{% block content %}
<div style="text-align: left;">
    <div style="width: 800px; margin: 0 auto;">
        <p>Здравствуйте!</p>
        <p>Вы запросили новый код активации для вашего аккаунта на <a href="/">https://oway-usa.com/</a>. Пожалуйста, используйте его для активации вашего аккаунта.</p>
        <p>Kод активации:</p>
        <h3>{{ activation_code }}</h3>
        <br>
        <h5>С уважением,<br>Команда Oway USA.</h5>
    </div>
</div>
{% endblock %}